<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.usermapper.UserMapper">

    <!--    添加单个用户-->
    <insert id="setUser" parameterType="com.pojo.User">
        insert into myBlog_users(username, password, emil_num, phone) values (#{username},#{password},#{emil_num},#{phone})
    </insert>


    <!--查找用户-->
    <select id="getUser" resultType="com.pojo.User">
        select * from user
        <where>
                username=#{username}
        </where>
    </select>
    <select id="getUserPassword" resultType="string">
        select password from user
        <where>
                username=#{username}
        </where>
    </select>

    <select id="getUserNameAndPassword" resultType="com.pojo.User">
        select * from user
        <where>
            username=#{username} and password=#{password}
        </where>
    </select>

    <insert id="addUser" >
        insert into user(username,password,email) values (#{username},#{password},#{email})
    </insert>


</mapper>

